.product-page ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 1rem;
}

.product-page li {
  width: 250px;
  height: 250px;
  padding: 1ch;
  border: 1px solid black;
  border-radius: 5px;

  display: grid;
  justify-content: center;
  align-items: center;
}

.product-page li img {
  width: 200px;
  height: 200px;
}
