* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: 5rem 1fr;
}

header {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

main {
  padding: 1rem;
}

nav {
  display: flex;
  flex-flow: row wrap;
  gap: 1ch;
}

p[role="alert"] {
  color: red;
}
